*.class
*.jar
*.swp
effective-java/
hello-ant/
hello-aspectj/
hello-dozer/
hello-ear/
hello-java/
hello-log4j/
hello-quartz/
hfj-en/
mastering-design-patterns-in-java/
oracle-basic-java-2/
oracle-collections/
oracle-essential-classes/
tdd-examples/
effective-java/
hello-ant/
hello-aspectj/
hello-dozer/
hello-ear/
hello-java/
hello-log4j/
hello-quartz/
hfj-en/
mastering-design-patterns-in-java/
oracle-basic-java-2/
oracle-collections/
oracle-essential-classes/
tdd-examples/
*~
.metadata/
